@import './node_modules/bulma/bulma';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    font-size: 1.1rem;
    height: 100%;
    line-height: 2.1rem;
    margin: 0;
    padding: 0;
}